{% extends 'base-with-banner.html' %}

{% block boardImg %}'/static/img/signin.jpg'{% endblock %}
{% block boardTitle %}Papers{% endblock %}
{% block boardSubTitle %}{% endblock %}

{% block contents %}

<div class="mb-4 border-b border-gray-200 dark:border-gray-700 container_de">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">International</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 dark:border-transparent text-gray-500 dark:text-gray-400 border-gray-100 dark:border-gray-700" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Domestic</button>
        </li>
    </ul>
</div>
<div id="myTabContent">
    <div class="p-4  rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class = "container_de mt-4">
          {% for obj_ in inter %}
          {% for obj, value in obj_.items %}
          <h3 class="text-3xl font-bold dark:text-white mb-10 mt-4">{{obj.year}}</h3>

          <div class="overflow-x-auto relative">
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                      <tr>
                          <th scope="col" class="py-3 px-6 rounded-l-lg w-4/6">
                              title
                          </th>
                          <th scope="col" class="py-3 px-6 w-1/6">
                              year
                          </th>
                          <th scope="col" class="py-3 px-6 rounded-r-lg w-1/6">
                              ordering
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for journal in value %}
                      <tr class="bg-white dark:bg-gray-800 w-full">
                          <th scope="row" class="block w-full py-4 px-6 font-medium text-gray-900 break-all dark:text-white">
                              {{journal.title}}
                          </th>
                          <td class="py-4 px-6">
                              {{obj.year}}
                          </td>
                          <td class="py-4 px-6">
                              {{journal.ordering}}
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
          {% endfor %}
          {% endfor %}
        </div>
    </div>
    <div class="hidden p-4  rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <div class = "container_de mt-4">
        {% for obj_ in dome %}
        {% for obj, value in obj_.items %}
        <h3 class="text-3xl font-bold dark:text-white mb-10 mt-4">{{obj.year}}</h3>
  
        <div class="overflow-x-auto relative">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6 rounded-l-lg w-4/6">
                            title
                        </th>
                        <th scope="col" class="py-3 px-6 w-1/6">
                            year
                        </th>
                        <th scope="col" class="py-3 px-6 rounded-r-lg w-1/6">
                            ordering
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in value %}
                    <tr class="bg-white dark:bg-gray-800 w-full">
                        <th scope="row" class="block w-full py-4 px-6 font-medium text-gray-900 break-all dark:text-white">
                            {{journal.title}}
                        </th>
                        <td class="py-4 px-6">
                            {{obj.year}}
                        </td>
                        <td class="py-4 px-6">
                            {{journal.ordering}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        {% endfor %}
        {% endfor %}
      </div>
  </div>
</div>


<script>
  
</script>

{% endblock contents %}